{% extends 'customer/customerbase.html' %}
{% block title %}
mailpage
{% endblock %}
{% block head %}
email send
{% endblock %}
{% block data %}
<form action="/mail/" method="post">
    {% csrf_token %}
        <table>
            <tr><td>Recepients Email</td><td><input type="Email" name="mailid"> </td></tr>
            <tr><td>Subject</td><td><input type="text" name="subj"></td></tr>
            <tr><td>Message</td><td><input type="text" name="msg"></td></tr>
            <tr><td></td><td><input type="submit" value="send"></td></tr>

        </table>
</form>
{% endblock %}