{% extends 'admin/adminbase.html' %}
{% block title %}
Addfood
{% endblock %}
{% block head %}
Add Menu
{% endblock %}
{% block data %}
<form action="/adfood/" method="post">
    {% csrf_token %}
    <table>
        <tr><th>Name</th><td><input type="text" name="fname"></td>

        <tr><th>Category</th><tr>
            <td>
                <select name="cat">
                    <option>breakfast</option>
                    <option>lunch</option>
                    <option>dinner</option>
                </select>
            </td>
        </tr>
        <tr><th>Price</th><td><input type="number" name="price"></td></tr>
          <tr><th></th><td><input type="submit" value="Add"></td></tr>
    </table>

</form>

{% endblock %}