{% extends 'admin/adminbase.html' %}
{% block title %}
customerpage
{% endblock %}
{% block head %}
Customer details
{% endblock %}
{% block data %}
<form action="" method="post">
    {% csrf_token %}
{% for user in data1 %}
<table>
    <tr><td><img src="{{user.pics}}" height="100" width="100"> </td></tr>
    <tr><th>Full Name</th><td>{{user.fname}} {{user.lname}}</td></tr>
    <tr><th>Age</th><td>{{user.age}}</td></tr>
    <tr><th>Email</th><td>{{user.email}}</td></tr>
    <tr><th>Uname</th><td>{{user.Uname}}</td></tr>
    <tr><th>File</th><td><a href="{{user.document}}">click here</a></td></tr>
    <tr><th>id</th><td><input type="number" value="{{user.id}}" name='cid'></td></tr>
    <form action="/update_email/" method="post">
        {% csrf_token %}
        <table>
            <input type="number" value="{{user.id}}" name="cid" hidden>
            <tr><th>Email</th><td><input type="text" value="{{user.email}}" name="mail"> </td></tr>
            <tr><th></th><td><input type="submit" value="update email"></td> </tr>
        </table>
    </form>
</table>
</form>
<br><br>
{% endfor %}
<!--<td><th><input type="submit" value="update"></th></td>-->
{% endblock %}